* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html {
scroll-behavior: smooth
}

.box {
        max-height: 100vh;
	overflow-y: scroll;
	position: relative;
	scroll-snap-type: y proximity;
        justify-content: center;
}
.stop {
	//scroll-snap-stop: always;
	scroll-snap-align: start;
}

h5 {
	font-weight: 600;
	font-size: 3em;
}

a {
   pointer-events: auto !important;  
   cursor: pointer !important;
}
body {
	//background: url() top left repeat;
	background-color: rgb(121, 166, 138, .5);
}

#myBar {
    width: 0%;
    height: 5%;
    background-color: #0e2600;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0,0,0, 1) 80%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    top: 0;
    opacity: 1;
}

#inverted {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 50%;
  height: 5%;
  opacity: 1.0;
}

table#test {
    width: 80%;
    margin: 0 auto;
}

.topnav {
    background-color: #01a07b;
    opacity: 0.0;
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
}

.topnav active {
    background-color: #4CAF50;
    color: white;
}

.topnav a {
  float: center;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

p {
    color: #4CAF50;
}

.section {
  z-index:-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  border-color: #020202;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgb(121, 166, 138, .7);
}

.section div {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.section p {
  color: black;
}

.nowyouseeme {
  position: absolute;
  display: none;
  border: 2px solid transparent;
  color: #f4f4f4;
  background-color: #333;
  border-radius: 10px;
  z-index: 1;
  opacity: 0.9;
  max-width: 50%;
}
.nowyouseeme:after {
    z-index: 9000;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    left: 10px;
    top: -11px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #333;
-webkit-backface-visibility: hidden;
}
a:hover + div {
  display: block;
}
}

.container {
    position: relative;
    width: 225px;
    height: 52px;
    padding: 20px 10px 0;
    margin: 50px auto 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    -moz-border-radius: 5px;
         border-radius: 5px;
    -webkit-box-shadow :0px 1px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.icon1 {
    position: relative;
    display: inline-block;
}

.icon1:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: -150px -150px;
    background-repeat:no-repeat;
    background-image: -webkit-gradient(
        linear, 0 0, 100% 100%,
        color-stop(0% , rgba(255, 255, 255, 0.3)),
        color-stop(37%, rgba(255, 255, 255, 0.3)),
        color-stop(45%, rgba(255, 255, 255, 0.8)),
        color-stop(50%, rgba(255, 255, 255, 0.0))
    );
    background-image: -moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.3), 0%,
        rgba(255, 255, 255, 0.3), 37%,
        rgba(255, 255, 255, 0.8), 45%,
        rgba(255, 255, 255, 0.0), 50%
    );
    -moz-background-size:250% 250%, 100% 100%;
      -o-background-size:250% 250%;
         background-size:250% 250%;

    -webkit-transition: background-position 0s ease;
       -moz-transition: background-position 0s ease;
            transition: background-position 0s ease;
}

.icon1:hover:before,
.icon1:focus:before {
    background-position:0 0;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.icon1:after {
  display: none;
}

@keyframes anims {
  50% {width: 50px;}
  100% {width: 100px;}
}

.animated {
    -webkit-animation-name: anims; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: anims;
    animation-duration: 4s;
}

.shape {
    position: absolute;
    background: #149785;
}

#rotated-square {
    top: 20px;
    left: 5%;
    height: 75px;
    width: 75px;
    clip-path: polygon(70% 0, 100% 70%, 30% 100%, 0 30%);
    -webkit-clip-path: polygon(70% 0, 100% 70%, 30% 100%, 0 30%);
}
#triangle {
    top: 15px;
    right: 10%;
    width: 50px;
    height: 50px;
    clip-path: polygon(0% 0, 100% 0%, 70% 80%); 
    -webkit-clip-path: polygon(0% 0, 100% 0%, 70% 80%); 
}
